@media (max-width: 1280px) and (min-width: 1049px) {
    .offers {
        flex-direction: column;
        align-items: center;
        // max-height: 560px;
        // flex-wrap: nowrap;

        .offer_box {
            // max-width: fit-content;

            .offer {
                // width: auto;
                height: auto;
                background: linear-gradient(325deg, #565B62 -144%, #565B6200 50%);
            }

            .bg_gradient_1,
            .bg_gradient_2,
            .bg_gradient_3,
            .bg_gradient_4 {
                background: linear-gradient(325deg, #565B62 -144%, #565B6200 50%);
            }

            .bg_gradient_1:hover,
            .bg_gradient_2:hover,
            .bg_gradient_3:hover,
            .bg_gradient_4:hover {
                background: linear-gradient(325deg, #565B62 -144%, #565B6200 80%);
                border-bottom: 2px solid;
                border-right: 2px solid;
                border-image: linear-gradient(308deg, #565B62 0%, #565B6200 45%) 1;
                border-left: none;
                border-top: none;
            }
        }
    }

    .header {
        justify-content: space-between;
    }

    .header__block {
        margin-left: 35px;
    }
}

@media(max-width: 1050px) {
    .container {
        // height: 100vh;
        // background-position-x: 65%;
        // background-size: 170%;
        height: 100%;
    }

    .mask {
        mask-image: radial-gradient(circle 144px at 50% 37.5%,
                transparent 156px,
                #ff6803 60%);
        //     mask-image: radial-gradient(circle 178px at 39.5% 39.5%, transparent 179px, #ff6803 60%)
    }

    .header {
        height: 100vh;
        align-items: stretch;
        justify-content: space-between;
    }

    .header__block {
        margin-left: 30px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;

        .header__block_inner {
            color: transparent;
            -webkit-background-clip: text;
            background-clip: text;
            background-image: radial-gradient(circle at 100% 100%, #D74213 23%, #ffffff 83%);
        }

        h1 {
            font-size: 27px;

        }

        h2 {
            font-size: 18px;
        }

    }

    .header__btn {
        padding: 11px 15px;
    }

    .nav__links {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .menu__btn {
        display: block;

        .nav__links_menu {
            width: auto;
            background-color: #0f0d17;
        }
    }

    .offers {
        width: 340px;
        max-height: 300px;
        flex-wrap: wrap;
        font-display: auto;
        justify-content: center;
        align-content: center;

    }

    .offer {
        width: 125px;
        height: 125px;

        span {
            color: #d0d1d3;
        }

        h1 {
            font-size: 30px;
            color: #ffffff;
        }
    }
}

@media(max-width:390px) {
    .container {
        max-width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: hidden;
        max-height: 100vh;
    }

    .nav-bar {
        height: 80px;

        .logo {
            width: 285px;
            height: 80px;
        }

        .menu__btn {
            position: unset;
            top: auto;
            left: auto;
            width: 100%;
        }

        .nav__links_menu {
            top: 80px;
        }
    }

    .mask {
        mask-image: none;
        height: 100vh;

        .header {
            margin-top: 20px;
            justify-content: flex-start;
            flex-direction: column;
        }
    }

    .header__block {
        margin-left: 0;
        align-items: center;

        .header__block_inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            background-image: radial-gradient(circle at 50% 400%, #D74213 59%, #ffffff 95%)
        }
    }

    .offers {
        width: 100%;
        height: 100%;
        margin-top: 30%;

        .offer {
            width: 160px;
            height: 160px;

            span {
                text-shadow:
                    2px 2px 2px #000,
                    0 2px 2px #000,
                    -2px 0 2px #000,
                    3px 3px 2px #8c1b21;
            }
        }
    }

    .nav__links_menu li {

        font-size: 24px;
        margin-bottom: 20px;

    }

    .header__btn {
        padding: 18px 31px;
        font-size: 17px;
        font-weight: 700;
    }
}